        <div class="container-fluid" style="background-color:black;" layout="row">
            <div routerLinkActive="active" class="navbar-header" >
                <a routerLink="/biography"  style="color:white;" class="navbar-brand" (loadedFeature)="biography">Biography</a>
              </div>
          <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/recipes" style="color:white;"  class="navbar-brand" (loadedFeature)="recipe">Recipes</a></li>
              <li routerLinkActive="active"><a  routerLink="/shopping-list"  style="color:white;" class="navbar-brand" (loadedFeature)="shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
              <li routerLinkActive="active"><a routerLink="/login" style="color:white;"  class="navbar-brand" (loadedFeature)="login">Login</a></li>
            </ul>
          </div>
        </div>
      