<!-- <h4>Welcome to Server Manager 4.0</h4> -->
<!-- <p>Manage your Servers and Users.</p> -->
<!-- <button class="btn btn-primary" (click)="onLoadServer(1)">Load Server 1</button> -->
<div>
    <h1>Welcome to Login</h1>        
    <label>Username</label>
    <input
          type="text"
          class="form-control"
           >
    <label>Password</label>
    <input
    type="password"
      class="form-control"
    >
    Password
    <div>
        <button class="btn btn-default" (click)="onLogin(usernameInput,passwordInput)">Login</button>
    </div>
    </div>
    <!-- <button class="btn btn-default" (click)="onLogout()">Logout</button> -->
    