
  <span >
      <h1 style="text-align: center; color:black; padding-right: 100px; font-family: 'Brush Script MT', cursive; font-size: 64px; font-style: normal; font-variant: normal; font-weight: 700;">{{ biography.name }}</h1>
      <img style="width: 100%; "
        [src]="biography.imagePath"
       >
       <h3 style="color:black; text-align: center; font-family: 'Brush Script MT', cursive; font-size: 54px; font-style: normal; font-variant: normal; font-weight: 700; padding-top: 25px;">Biography</h3>
       <p style="color:black; font-family:American Typewriter, serif; font-size: 20px;">With 32 years of professional cooking Chef John O'Shea Televizian posseses the passion,
          world experience, and culinary expertise to provide impeccable service and 5 star culinary creations to satisfy your 
          every food and taste desire. While proficient in a variety of cuisines and modern cooking techniques he also has the sensitivity 
          to create custom menus in accordance with your lifestyle and eating habits, while meeting all your dietary considerations.
          Since bringing together his vision of establishing The Private Chef Inc 15 years ago (a full service chef and concierge services 
          company with clients around the globe). Chef Jason Paul has been fortunate enough to provide his services for the who’s who in the
           world of the affluent and celebrities alike. Please see client list below</p>
    </span>